.highlight-dark {
    background-color: rgba(47, 158, 68, 0.2);
    color: white;
    font-weight: bolder;
}

.highlight-light {
    background-color: rgba(235, 251, 238, 1);
    color: black;
    font-weight: bolder;
}